VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
# Deployed Contract IDs (Testnet - July 6, 2026)
VITE_SMART_WALLET_CONTRACT_ID=CBUEUWCNWF3Q5KCDA46SCBREGZUY5DVIF25T52D6MRYPKWWHJLLSWDP4
VITE_SESSION_KEYS_CONTRACT_ID=CBMJ52UOFODPM2THFP7E4ZO73LTPROEXRUPJO7LCSB6UTVIP7AO4JGT3
VITE_SPENDING_LIMITS_CONTRACT_ID=CDVQB6HYHLBZRRA5SKO2M55HBVZ2PLEFCLDP6662WFK7QSKW6RJMVDA5
